.coverProducts{
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 100%;
}
.coverProducts ,.products{
    display: flex;
    justify-content:start;
    align-items: start;
    flex-wrap: wrap;
}
.restaurantProductsText{
    width: 100%;
}
.restaurantProductsText h2{
    text-align: center;
    font-size:3rem;
    text-shadow:0 0 3px var(--main_color) ;
    font-family: "Playwrite BE VLG", cursive;
    color:#d1b6b1;
}
.products{
  width:80%;  
}
.products h5{
   margin: auto;
   margin-top: 5rem;
   font-size: 1.8rem;
   text-shadow:0 0 1px var(--main_color) ;
   font-family:'Courier New', Courier, monospace;
   color:#d1b6b1;
}
.productsContent{
    background-color: rgb(230, 230, 229);
    width:17rem;
    min-height:24rem;
    border-radius:10px;
    text-align: center;
    margin: 2rem;
}
.productsContent img{
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.productsContent h2{
font-size: 1.4rem;
font-weight: 400;

}
.productsContent p{
    font-size:2rem;
    font-weight:700;
    color: var(--main_color);
}
.productsContent button ,.buttonsChooseFoods h3 ,.buttonsChooseFoods button{
    padding:7px 20px;
    display: inline;
    width:15rem;
    margin-top: 0.7rem;
    border: 0;
    background-color: var(--main_color);
    border:1px solid var(--main_color);
    color: aliceblue;
    transition: all 0.5s;
    border-radius: 0.4rem;
}
.productsContent button:hover ,.buttonsChooseFoods button:hover{
    background-color:aliceblue;
    color: var(--main_color);
}
.buttonsChooseFoods{
    width:20%;
    margin-right:-4rem;
}
.buttonsChooseFoods h3{
    display: block;
    text-align: center;
}
.buttonsChooseFoods input{
    padding:0.5rem 1rem;
    margin: auto;
    border-radius: 1rem;
    border: 2px solid var(--main_color);
    color: var(--main_color);
    width:90% !important;
}
.buttonsChooseFoods input::placeholder{
    color: var(--main_color);
}
.buttonsChooseFoods button{
    background-color: rgb(215, 216, 218);
    border:1px solid var(--main_color);
    color: var(--main_color);
}

@media screen and (max-width:768px){
.products{
    width:55%;
}
.products h5{
    font-size: 1.5rem;
    width:80%;
    text-align: center;
}
.buttonsChooseFoods{
    width:35%;
}
.productsContent img{
    width:200px !important;
}
}
@media screen and (min-width:769px) and (max-width:992px){
.products{
    width:65%;
}
.products h5{
    font-size: 1.6rem;
    width:80%;
    text-align: center;
}
.buttonsChooseFoods{
    width:30%;
    text-align: center;
}
}
@media screen and (min-width:992px) and (max-width:1292px){
.products{
    width:65%;
}
.products h5{
    font-size: 1.6rem;
    width:80%;
    text-align: center;
}
.buttonsChooseFoods{
    width:25%;
}
}