*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --main_color:#a82d49;
}
li ,button{
cursor: pointer;
}
input{
  outline: none;
}
.slider-container{
  width: 100%;
  height: 600px;
  background-color: #a82d49;
  display: flex;
  justify-content: center;
}
button{
  background-color: var(--main_color);
  color: rgb(228, 226, 226);
}
.swiper-pagination-bullet-active{
  background-color: #a82d49 !important;
}
